/AbsoluteLifeMovement.class
/AbstractLifeMovement.class
/ChairMovement.class
/ChangeEquip.class
/JumpDownMovement.class
/LifeMovement.class
/LifeMovementFragment.class
/RelativeLifeMovement.class
/TeleportMovement.class
