/Aran.class
/Archer.class
/Assassin.class
/Bandit.class
/Beginner.class
/Bishop.class
/BlazeWizard.class
/Bowmaster.class
/Brawler.class
/Buccaneer.class
/ChiefBandit.class
/Cleric.class
/Corsair.class
/Crossbowman.class
/Crusader.class
/DarkKnight.class
/DawnWarrior.class
/DragonKnight.class
/Evan.class
/FPArchMage.class
/FPMage.class
/FPWizard.class
/Fighter.class
/GM.class
/Gunslinger.class
/Hermit.class
/Hero.class
/Hunter.class
/ILArchMage.class
/ILMage.class
/ILWizard.class
/Legend.class
/Magician.class
/Marauder.class
/Marksman.class
/NightLord.class
/NightWalker.class
/Noblesse.class
/Outlaw.class
/Page.class
/Paladin.class
/Pirate.class
/Priest.class
/Ranger.class
/Rogue.class
/Shadower.class
/Sniper.class
/Spearman.class
/SuperGM.class
/Swordsman.class
/ThunderBreaker.class
/Warrior.class
/WhiteKnight.class
/WindArcher.class
